//https://fonts.google.com/specimen/Roboto+Mono?sidebar.open=true&selection.family=Roboto+Mono:wght@400;500|Roboto:wght@100;400;500
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&family=Roboto:wght@100;400;500&display=swap');

body {
    width: 100vw;
    height: 100vh;
    
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #1e1e1e;
}

.game-container {
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    position: relative;

    background-color: #aaaaaa;
    box-shadow: 0px 5px 30px 20px rgba(0,0,0, 0.6);

    overflow: hidden;
}

.game-bar {
    height: 30px;

    font-family: 'Roboto Mono', monospace;
    font-weight: 500;

    margin-top: 3px;
    padding: 0 8px;

    display: flex;
    align-items: center;
    white-space: pre;

    color: #1e1e1e;
    background-color: rgba(255,255,255, 1);
    box-shadow: 0 2px 1px 0px rgba(0,0,0, 0.2);

    .score-label {
        flex: 1
    }
    
    .score-value, .timer-value {
        font-weight: 400;
    }
}

.game-over {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(220, 220, 220, 0.8);

    font-family: 'Roboto', sans-serif;

    &.active {
        display: flex;
    }

    .title {
        font-size: 96px;
        font-weight: 100;
    }

    .score {
        font-family: 'Roboto Mono', monospace;
        font-weight: 400;
        font-size: 16px;
        white-space: pre;

        b { font-weight: 500; }
    }

    .restart {
        cursor: pointer;

        margin-top: 16px;

        font-size: 16px;
        font-weight: 400;
        text-decoration: dashed underline;

        color: #222F;

        border: none;
        background: none;

        &:hover {
            color: #000F;
        }

        &:active {
            position: relative;
            top: 2px;
        }
    }
}

.snake-game {
    width: min-content;
    height: min-content;

    padding: 5px;

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 5px;

    div {
        width: 25px;
        height: 25px;

        border-radius: 12.5px;

        background-color: rgba(255,255,255, 1);
        box-shadow: 0 2px 1px 0px rgba(0,0,0, 0.2);

        transition: 500ms, rotate 1s, border-radius 1s;
        transition-timing-function: ease;

        &.fruit {
            background-color: #faed76;
            transition: 500ms;
            
            rotate: 90deg;
            border-radius: 3px;
        }

        &:hover {
            rotate: 45deg;
            border-radius: 3px;
            transition: rotate 0.3s, border-radius 0.1s;
        }

        &.snake-piece {
            background-color: #06b8ff;
            transition: background-color 150ms, rotate 1s, border-radius 0.1s;

            rotate: 45deg;
            border-radius: 8px;
            box-shadow: 2px 0 1px 0px rgba(0,0,0, 0.2);
        }
    }
}